# Binaries, plugins, libs
*.dll
*.dylib
*.exe
*.exe~
*.so

# Testing
*.test
*.tmp

# CPython Compiled (*.pyc)
__pycache__

# voidsh readline history. Note: the directory without files should be remained.
.voidsh_history/*
plugins/root/_*